page-login {

.button{
    width: 60%;
    text-align:center;
    }

.logindiv{
    text-align: center;
    vertical-align:middle;
    position: relative;
    top:170px;
    }    
    .item{
        background-color:transparent;
    }
    .label{
         color:white;
    }
    .input{
       color:white; 
    }
    .margin{
        padding-left: 16px!important;
    }
}
